.li {
    list-style-type: none;
    margin-top: .5em;
    width: 600px;
    height: auto;
    background-color: white;
    border: 1px solid grey;
    border-radius: 15px;
    margin-bottom: .5em;
    padding: 1em;
}

.li h2 {
    color: #004182;
}

.retrievedPost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.title {
    font-size: 2em;
}