.li {
    list-style-type: none;
    margin-top: 2em;
    width: 600px;
    height: auto;
    background-color: pink;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 2em;
    padding: 1em;
}

.retrievedPost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5em;
}

.title {
    font-size: 2em;
}