.formTitle {
    resize: none;
    border: 1px solid grey;
    border-radius: 15px 15px 0 0;
    position: relative;
    padding: 1em 1em;
    position: relative;
    bottom: -13px;
}

.formText {
    resize: none;
    border: 1px solid grey;
    border-radius: 0 0 15px 15px;
    padding: 1em 1em;
}

.formText:focus, .formTitle:focus {
    outline: none;
    border: 1px solid black;
    cursor: text
}

.formContainer {
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.dateForm {
    display: none;
}

.button {
    width: 80px;
    border-radius: 15px;
    border: 1px solid grey;
    height: 35px;
}

.button:hover {
    cursor: pointer;
}

.invalid {
    border-color: red;
    background: #fbdada;
}