body {
  background-color: #f4f0f0;
  width: 100%;
}

.profile, .toDo {
  width: 275px;
  height: 400px;
  background-color: white;
  margin: 1em 1.5em;
  border-radius: 15px;
  border: 1px solid grey;
}

.toDo {
  overflow-y: scroll;
}

.feed {
  display: flex;
  flex-direction: column;
}

.mainFeed {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 950px) {
  .mainFeed {
    flex-direction: column;
  }
  .toDo, .profile {
    height: 200px;
  }
  .smallScreen {
    display: flex;
    justify-content: center;
  }
  .feed {
    justify-content: center;
  }
  .contentHolder {
    display: flex;
    justify-content: center;
  }
}